body {
    background-color: rgb(207, 186, 240);
    text-align: center;
    background-repeat: no-repeat;
}
h1 {
    width:130px;
    display: inline-block;
    background-color:midnightblue;
    color: white;
    border-radius: 50%;
}
button {
    background-color: midnightblue;
    color:white ;
    border-radius:20px;
    font-size: medium;
}
